<h1> Supermarket Show Page: </h1>
<h3> <%= @supermarket.name %> </h3>

<h3> Location: <%= @supermarket.location %></h3>
<h3> <%= link_to "#{@supermarket.name}'s Item Index Page", "/supermarkets/#{@supermarket.id}/items" %> </h3>
